## Imports

In [1]:
import pandas as pd

## Leitura dos dados

In [2]:
path_pede_passos_2020 = '../dados/dados_processados/pede_passos_2020.csv'
path_pede_passos_2021 = '../dados/dados_processados/pede_passos_2021.csv'
path_pede_passos_2022 = '../dados/dados_processados/pede_passos_2022.csv'

In [3]:
df_pede_passos_2020 = pd.read_csv(path_pede_passos_2020, sep=';')
df_pede_passos_2021 = pd.read_csv(path_pede_passos_2021, sep=';')
df_pede_passos_2022 = pd.read_csv(path_pede_passos_2022, sep=';')

In [4]:
#remove the years from the name of the columns
df_pede_passos_2020.columns = df_pede_passos_2020.columns.str.replace('_2020', '')
df_pede_passos_2021.columns = df_pede_passos_2021.columns.str.replace('_2021', '')
df_pede_passos_2022.columns = df_pede_passos_2022.columns.str.replace('_2022', '')

In [5]:
print(f"Dados de 2020: {df_pede_passos_2020.shape[0]} linhas e {df_pede_passos_2020.shape[1]} colunas")
print(f"Dados de 2021: {df_pede_passos_2021.shape[0]} linhas e {df_pede_passos_2021.shape[1]} colunas")
print(f"Dados de 2022: {df_pede_passos_2022.shape[0]} linhas e {df_pede_passos_2022.shape[1]} colunas")

Dados de 2020: 1349 linhas e 18 colunas
Dados de 2021: 1349 linhas e 20 colunas
Dados de 2022: 1349 linhas e 30 colunas

In [6]:
df_pede_passos_2020.describe()

,INSTITUICAO_ENSINO_ALUNO,IDADE_ALUNO,ANOS_PM,FASE_TURMA,PONTO_VIRADA,INDE,INDE_CONCEITO,PEDRA,DESTAQUE_IEG,DESTAQUE_IDA,DESTAQUE_IPV,IAA,IEG,IPS,IDA,IPP,IPV,IAN
count,728,728,728,728,702,728,728,728,728,728,703,728,728,728,728,728,728,728
unique,8,15,6,63,3,728,5,5,5,5,2,45,90,14,74,69,368,4
top,Escola Pública,10,1,8A,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Ponto a melhorar em 2021: Integrar-se mais aos...,9.000020000000001,10,7.5,10,8.125,7.75,10
freq,598,107,305,24,607,1,336,336,476,404,368,123,87,396,73,73,31,359

In [7]:
df_pede_passos_2021.describe()

,FASE,IAA,IEG,IPS,IDA,IPP,IPV,IAN,DEFASAGEM
count,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.00000,686.000000,686.000000
mean,2.276968,8.153499,6.822595,6.843586,5.425948,7.576385,7.40758,6.902332,-0.752187
std,1.798368,2.193629,2.458627,1.457148,2.141566,1.072318,1.62708,2.484979,0.792181
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2.500000,-4.000000
25%,1.000000,7.900000,5.300000,6.900000,4.100000,7.300000,6.60000,5.000000,-1.000000
50%,2.000000,8.800000,7.200000,7.500000,5.850000,7.700000,7.70000,5.000000,-1.000000
75%,3.000000,9.500000,8.800000,7.500000,6.900000,8.100000,8.60000,10.000000,0.000000
max,7.000000,10.000000,10.000000,8.800000,9.500000,10.000000,10.00000,10.000000,3.000000

In [8]:
df_pede_passos_2022.describe()

,FASE,ANO_INGRESSO,INDE,CG,CF,CT,IAA,IEG,IPS,IDA,NOTA_PORT,NOTA_MAT,NOTA_ING,QTD_AVAL,IPP,IPV,IAN
count,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,860.000000,860.000000,285.000000,862.000000,862.000000,862.000000,862.000000
mean,2.110209,2020.496520,7.028338,431.500000,75.396752,6.617169,8.263065,7.880728,6.901102,6.070688,5.796318,6.306628,5.839942,3.056845,6.299364,7.247953,6.421114
std,1.802222,1.787649,1.029912,248.982262,52.314184,3.989485,2.080264,1.649023,1.070202,2.059346,2.422292,2.092551,2.992093,0.775806,1.135510,1.098548,2.387816
min,0.000000,2016.000000,3.031806,1.000000,1.000000,1.000000,0.000000,0.000000,2.500000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.500010,2.500000
25%,1.000000,2019.000000,6.472561,216.250000,30.000000,3.000000,7.916672,6.999971,6.250000,4.750000,4.316667,5.166667,3.500000,2.000000,5.625000,6.722220,5.000000
50%,2.000000,2021.000000,7.193950,431.500000,66.500000,6.000000,8.750010,8.312179,7.500000,6.333333,6.000000,6.650000,6.266667,3.000000,6.250000,7.333335,5.000000
75%,3.000000,2022.000000,7.749605,646.750000,118.000000,9.750000,9.500020,9.102970,7.500000,7.583333,7.833333,7.833333,8.500000,4.000000,7.031250,7.916665,10.000000
max,7.000000,2022.000000,9.441522,862.000000,192.000000,18.000000,10.000020,10.000000,10.000000,9.916667,10.000000,10.000000,10.000000,4.000000,9.218750,10.000010,10.000000

In [9]:
df_pede_passos_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO  728 non-null    object
 1   IDADE_ALUNO               728 non-null    object
 2   ANOS_PM                   728 non-null    object
 3   FASE_TURMA                728 non-null    object
 4   PONTO_VIRADA              702 non-null    object
 5   INDE                      728 non-null    object
 6   INDE_CONCEITO             728 non-null    object
 7   PEDRA                     728 non-null    object
 8   DESTAQUE_IEG              728 non-null    object
 9   DESTAQUE_IDA              728 non-null    object
 10  DESTAQUE_IPV              703 non-null    object
 11  IAA                       728 non-null    object
 12  IEG                       728 non-null    object
 13  IPS                       728 non-null    object
 14  IDA                       728 non-null    object
 15  IPP                       728 non-null    object
 16  IPV                       728 non-null    object
 17  IAN                       728 non-null    object
dtypes: object(18)
memory usage: 189.8+ KB

In [10]:
df_pede_passos_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FASE                      686 non-null    float64
 1   TURMA                     686 non-null    object
 2   INSTITUICAO_ENSINO_ALUNO  686 non-null    object
 3   SINALIZADOR_INGRESSANTE   686 non-null    object
 4   PEDRA                     686 non-null    object
 5   INDE                      686 non-null    object
 6   IAA                       686 non-null    float64
 7   IEG                       686 non-null    float64
 8   IPS                       686 non-null    float64
 9   IDA                       686 non-null    float64
 10  IPP                       686 non-null    float64
 11  REC_EQUIPE_1              686 non-null    object
 12  REC_EQUIPE_2              686 non-null    object
 13  REC_EQUIPE_3              686 non-null    object
 14  REC_EQUIPE_4              686 non-null    object
 15  PONTO_VIRADA              686 non-null    object
 16  IPV                       686 non-null    float64
 17  IAN                       686 non-null    float64
 18  NIVEL_IDEAL               686 non-null    object
 19  DEFASAGEM                 686 non-null    float64
dtypes: float64(9), object(11)
memory usage: 210.9+ KB

In [11]:
df_pede_passos_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FASE            862 non-null    float64
 1   TURMA           862 non-null    object
 2   ANO_INGRESSO    862 non-null    float64
 3   BOLSISTA        862 non-null    object
 4   INDE            862 non-null    float64
 5   CG              862 non-null    float64
 6   CF              862 non-null    float64
 7   CT              862 non-null    float64
 8   PEDRA           862 non-null    object
 9   DESTAQUE_IEG    862 non-null    object
 10  DESTAQUE_IDA    862 non-null    object
 11  DESTAQUE_IPV    862 non-null    object
 12  IAA             862 non-null    float64
 13  IEG             862 non-null    float64
 14  IPS             862 non-null    float64
 15  IDA             862 non-null    float64
 16  NOTA_PORT       860 non-null    float64
 17  NOTA_MAT        860 non-null    float64
 18  NOTA_ING        285 non-null    float64
 19  QTD_AVAL        862 non-null    float64
 20  IPP             862 non-null    float64
 21  REC_AVA_1       862 non-null    object
 22  REC_AVA_2       862 non-null    object
 23  REC_AVA_3       626 non-null    object
 24  REC_AVA_4       285 non-null    object
 25  INDICADO_BOLSA  862 non-null    object
 26  PONTO_VIRADA    862 non-null    object
 27  IPV             862 non-null    float64
 28  IAN             862 non-null    float64
 29  NIVEL_IDEAL     862 non-null    object
dtypes: float64(17), object(13)
memory usage: 316.3+ KB

In [12]:
df_pede_passos_2020.head()

,INSTITUICAO_ENSINO_ALUNO,IDADE_ALUNO,ANOS_PM,FASE_TURMA,PONTO_VIRADA,INDE,INDE_CONCEITO,PEDRA,DESTAQUE_IEG,DESTAQUE_IDA,DESTAQUE_IPV,IAA,IEG,IPS,IDA,IPP,IPV,IAN
0,Escola Pública,11,2,2H,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa integração aos...,8.500020000000001,8.7,7.5,7,5.9375,7.75,10
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Escola Pública,12,2,3H,Não,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa integração aos...,7.91667,8.9,7.5,5.5,8.125,8.111113333333334,10
3,Escola Pública,10,2,1D,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Ponto a melhorar em 2021: Integrar-se mais aos...,8.000020000000001,4.1,6.875,0,7.1875,7.75,5
4,Escola Pública,10,1,2M,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Seu destaque em 2020: As suas boas notas na Pa...,Seu destaque em 2020: A sua boa integração aos...,7.50002,8,7.5,7.5,8.4375,8.166665,10

In [13]:
df_pede_passos_2021.head()

,FASE,TURMA,INSTITUICAO_ENSINO_ALUNO,SINALIZADOR_INGRESSANTE,PEDRA,INDE,IAA,IEG,IPS,IDA,IPP,REC_EQUIPE_1,REC_EQUIPE_2,REC_EQUIPE_3,REC_EQUIPE_4,PONTO_VIRADA,IPV,IAN,NIVEL_IDEAL,DEFASAGEM
0,2.0,G,Rede Decisão,Ingressante,Ametista,7.319,7.5,6.3,6.9,8.8,7.7,Promovido de Fase,Promovido de Fase,Mantido na Fase atual,Não avaliado,Não,8.1,5.0,Nível 3 (7o e 8o ano),-1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,F,Escola Pública,Veterano,Ametista,7.021,7.1,6.9,6.3,5.6,7.3,Promovido de Fase,Promovido de Fase,Mantido na Fase atual,Não avaliado,Não,7.2,10.0,Nível 3 (7o e 8o ano),0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,L,Escola Pública,Veterano,Ametista,7.399,7.4,7.5,7.5,5.4,8.5,Promovido de Fase,Mantido na Fase atual,Mantido na Fase atual,Não avaliado,Não,7.4,10.0,Nível 2 (5o e 6o ano),0.0

In [14]:
df_pede_passos_2022.head()

,FASE,TURMA,ANO_INGRESSO,BOLSISTA,INDE,CG,CF,CT,PEDRA,DESTAQUE_IEG,...,IPP,REC_AVA_1,REC_AVA_2,REC_AVA_3,REC_AVA_4,INDICADO_BOLSA,PONTO_VIRADA,IPV,IAN,NIVEL_IDEAL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,K,2022.0,Não,7.675509,245.0,66.0,6.0,Ametista,Destaque: A sua boa entrega das lições de casa.,...,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,Não,7.916665,5.0,Fase 2 (5º e 6º ano)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,J,2022.0,Não,7.117065,451.0,69.0,3.0,Ametista,Destaque: A sua boa entrega das lições de casa.,...,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,Não,Não,8.055553,5.0,Fase 3 (7º e 8º ano)
4,2.0,L,2019.0,Não,7.232336,415.0,61.0,12.0,Ametista,Destaque: A sua boa entrega das lições de casa.,...,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,Não,Não,7.833337,5.0,Fase 3 (7º e 8º ano)

In [15]:
#verificar colunas em comum
colunas_2020 = df_pede_passos_2020.columns
colunas_2021 = df_pede_passos_2021.columns
colunas_2022 = df_pede_passos_2022.columns

colunas_em_comum = set(colunas_2020) & set(colunas_2021) & set(colunas_2022)
colunas_em_comum = list(colunas_em_comum)
print(f"Colunas em comum: {colunas_em_comum}")

Colunas em comum: ['IEG', 'INDE', 'IAN', 'IPS', 'PONTO_VIRADA', 'PEDRA', 'IPV', 'IPP', 'IAA', 'IDA']

In [16]:
#numerar as linhas de cada dataframe na coluna aluno_id
df_pede_passos_2020['aluno_id'] = range(1, len(df_pede_passos_2020) + 1)
df_pede_passos_2021['aluno_id'] = range(1, len(df_pede_passos_2021) + 1)
df_pede_passos_2022['aluno_id'] = range(1, len(df_pede_passos_2022) + 1)

In [17]:
#criar novo df só com as colunas em comum indicando o ano
df_pede_passos_2020['ano'] = 2020
df_pede_passos_2021['ano'] = 2021
df_pede_passos_2022['ano'] = 2022


df_pede_passos = pd.concat([df_pede_passos_2020, df_pede_passos_2021, df_pede_passos_2022], ignore_index=True)
df_pede_passos = df_pede_passos[colunas_em_comum + ['ano', 'aluno_id']]
df_pede_passos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4047 entries, 0 to 4046
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IEG           2276 non-null   object
 1   INDE          2276 non-null   object
 2   IAN           2276 non-null   object
 3   IPS           2276 non-null   object
 4   PONTO_VIRADA  2250 non-null   object
 5   PEDRA         2276 non-null   object
 6   IPV           2276 non-null   object
 7   IPP           2276 non-null   object
 8   IAA           2276 non-null   object
 9   IDA           2276 non-null   object
 10  ano           4047 non-null   int64
 11  aluno_id      4047 non-null   int64
dtypes: int64(2), object(10)
memory usage: 379.5+ KB

In [18]:
#change NaN, Não, Sim to 0, 0, 1
df_pede_passos = df_pede_passos.replace('Não', 0)
df_pede_passos = df_pede_passos.replace('Sim', 1)
df_pede_passos = df_pede_passos.replace('#NULO!', 0)
df_pede_passos = df_pede_passos.fillna(0)


lines_before = df_pede_passos.shape[0]

# df_pede_passos = df_pede_passos[~df_pede_passos['PEDRA'].isin(['Ametista'])]
df_pede_passos = df_pede_passos[~df_pede_passos['IAA'].isin(['D910'])]
df_pede_passos = df_pede_passos[~df_pede_passos['IPS'].isin(['D930'])]
df_pede_passos = df_pede_passos[~df_pede_passos['PONTO_VIRADA'].isin(['D9600'])]
df_pede_passos = df_pede_passos[~df_pede_passos['IEG'].isin(['V920'])]
df_pede_passos = df_pede_passos[~df_pede_passos['IAN'].isin(['D970'])]
df_pede_passos = df_pede_passos[~df_pede_passos['IDA'].isin(['D940'])]
df_pede_passos = df_pede_passos[~df_pede_passos['IPV'].isin(['D960'])]
df_pede_passos = df_pede_passos[~df_pede_passos['IPP'].isin(['D950'])]
df_pede_passos = df_pede_passos[~df_pede_passos['INDE'].isin(['D980'])]

lines_after = df_pede_passos.shape[0]

print(f"Linhas antes: {lines_before}")
print(f"Linhas depois: {lines_after}")

#change columns type to float except 'Pedra' and 'ano'
colunas_float = [col for col in df_pede_passos.columns if col not in ['PEDRA', 'ano']]
df_pede_passos[colunas_float] = df_pede_passos[colunas_float].astype(float)

#change 'ano' to int
df_pede_passos['ano'] = df_pede_passos['ano'].astype(int)
df_pede_passos['aluno_id'] = df_pede_passos['aluno_id'].astype(int)

df_pede_passos.info()

Linhas antes: 4047
Linhas depois: 4046
<class 'pandas.core.frame.DataFrame'>
Index: 4046 entries, 0 to 4046
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IEG           4046 non-null   float64
 1   INDE          4046 non-null   float64
 2   IAN           4046 non-null   float64
 3   IPS           4046 non-null   float64
 4   PONTO_VIRADA  4046 non-null   float64
 5   PEDRA         4046 non-null   object
 6   IPV           4046 non-null   float64
 7   IPP           4046 non-null   float64
 8   IAA           4046 non-null   float64
 9   IDA           4046 non-null   float64
 10  ano           4046 non-null   int32
 11  aluno_id      4046 non-null   int32
dtypes: float64(9), int32(2), object(1)
memory usage: 379.3+ KB

In [19]:
df_pede_passos.describe()

,IEG,INDE,IAN,IPS,PONTO_VIRADA,IPV,IPP,IAA,IDA,ano,aluno_id
count,4046.000000,4046.000000,4046.000000,4046.000000,4046.000000,4046.000000,4046.000000,4046.000000,4046.000000,4046.000000,4046.000000
mean,4.215939,3.972838,3.873579,3.841220,0.077855,4.101445,3.896635,4.646624,3.349337,2021.000247,674.855660
std,4.071296,3.622643,3.900733,3.526168,0.267976,3.791077,3.627736,4.368980,3.472971,0.816547,389.410638
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2020.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2020.000000,338.000000
50%,4.483824,5.519040,5.000000,5.000000,0.000000,5.700000,5.416667,7.083330,2.700000,2021.000000,675.000000
75%,8.300000,7.424498,5.000000,7.500000,0.000000,7.611113,7.500000,9.000000,6.666667,2022.000000,1012.000000
max,10.000000,9.712504,10.000000,10.000000,1.000000,10.000010,10.000000,10.000020,10.000000,2022.000000,1349.000000

In [20]:
df_pede_passos.sort_values(by='aluno_id', inplace=True)
df_pede_passos.head(20)

,IEG,INDE,IAN,IPS,PONTO_VIRADA,PEDRA,IPV,IPP,IAA,IDA,ano,aluno_id
0,8.700000,7.883752,10.0,7.500,0.0,Ametista,7.750000,5.937500,8.50002,7.000000,2020,1
1349,6.300000,7.319000,5.0,6.900,0.0,Ametista,8.100000,7.700000,7.50000,8.800000,2021,1
2698,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2022,1
2699,7.581705,7.675509,5.0,7.500,0.0,Ametista,7.916665,5.625000,10.00002,8.816667,2022,2
1,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2020,2
1350,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2021,2
2,8.900000,7.856390,10.0,7.500,0.0,Ametista,8.111113,8.125000,7.91667,5.500000,2020,3
2700,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2022,3
1351,6.900000,7.021000,10.0,6.300,0.0,Ametista,7.200000,7.300000,7.10000,5.600000,2021,3
2701,8.071429,7.117065,5.0,7.500,0.0,Ametista,8.055553,6.250000,10.00002,5.083333,2022,4
1352,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2021,4
3,4.100000,5.076252,5.0,6.875,0.0,Quartzo,7.750000,7.187500,8.00002,0.000000,2020,4
2702,8.557505,7.232336,5.0,7.500,0.0,Ametista,7.833337,6.458333,6.41668,7.083333,2022,5
4,8.000000,8.077085,10.0,7.500,0.0,Ametista,8.166665,8.437500,7.50002,7.500000,2020,5
1353,7.500000,7.399000,10.0,7.500,0.0,Ametista,7.400000,8.500000,7.40000,5.400000,2021,5
2703,9.333333,7.741669,10.0,7.500,0.0,Ametista,7.500000,6.250000,9.00002,5.500000,2022,6
5,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2020,6
1354,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2021,6
6,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2020,7
1355,0.000000,0.000000,0.0,0.000,0.0,0,0.000000,0.000000,0.00000,0.000000,2021,7

In [21]:
#save the data
path_pede_passos = '../dados/dados_processados/pede_passos.csv'
df_pede_passos.to_csv(path_pede_passos, sep=';', index=False)