## Imports

In [1]:
import pandas as pd

## Leitura dos dados

In [2]:
path_fases_unidades_pm = '..\dados\dados_brutos\Fases e Unidades PM.xlsx'
path_pede_passos  = '..\dados\dados_brutos\PEDE_PASSOS_DATASET_FIAP.csv'

In [3]:
df_fases_unidades_pm = pd.read_excel(path_fases_unidades_pm)
df_pede_passos = pd.read_csv(path_pede_passos, sep=';')

## Exploração inicial

### Fases e Unidades PM

In [4]:
df_fases_unidades_pm.head(10)

             Fase         Turma Unidades
0  ALFABETIZAÇÃO    ALFA A - G0   Centro
1  ALFABETIZAÇÃO    ALFA A - G0   Centro
2  ALFABETIZAÇÃO    ALFA A - G0   Centro
3  ALFABETIZAÇÃO    ALFA A - G0   Centro
4  ALFABETIZAÇÃO    ALFA A - G0   Centro
5  ALFABETIZAÇÃO    ALFA A - G0   Centro
6  ALFABETIZAÇÃO    ALFA A - G0   Centro
7  ALFABETIZAÇÃO    ALFA A - G0   Centro
8  ALFABETIZAÇÃO    ALFA A - G0   Centro
9  ALFABETIZAÇÃO    ALFA A - G0   Centro

In [5]:
df_fases_unidades_pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fase      1076 non-null   object
 1   Turma     1076 non-null   object
 2   Unidades  1076 non-null   object
dtypes: object(3)
memory usage: 25.3+ KB

In [6]:
df_fases_unidades_pm.describe()

           Fase Turma Unidades
count      1076  1076     1076
unique        8    87        4
top     FASE 3    7A    Centro
freq        216    18      374

In [7]:
df_fases_unidades_pm.shape

(1076, 3)

### PEDE Passos Magicos

In [8]:
df_pede_passos.head(10)

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,...,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
0,Escola Pública,ALUNO-1,11,2,2H,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,Não,7.916665,5.0,Fase 2 (5º e 6º ano)
2,Escola Pública,ALUNO-3,12,2,3H,Não,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Escola Pública,ALUNO-4,10,2,1D,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,...,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,Não,Não,8.055553,5.0,Fase 3 (7º e 8º ano)
4,Escola Pública,ALUNO-5,10,1,2M,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,Não,Não,7.833337,5.0,Fase 3 (7º e 8º ano)
5,NaN,ALUNO-6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.250000,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,Não,Não,7.500000,10.0,Fase 2 (5º e 6º ano)
6,NaN,ALUNO-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.937500,Promovido de Fase,Promovido de Fase,NaN,NaN,Não,Não,7.916670,5.0,Fase 2 (5º e 6º ano)
7,Rede Decisão/União,ALUNO-8,14,3,4L,Sim,8.381390666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,7.656250,Promovido de Fase + Bolsa,Mantido na Fase atual,Promovido de Fase + Bolsa,Promovido de Fase,Não,Não,7.625002,5.0,Fase 6 (2º EM)
8,NaN,ALUNO-9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.750000,Mantido na Fase atual,Mantido na Fase atual,NaN,NaN,Não,Não,5.500010,10.0,ALFA (2º e 3º ano)
9,Escola Pública,ALUNO-10,13,1,3B,Não,5.1618745,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_pede_passos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   NOME                           1349 non-null   object
 2   IDADE_ALUNO_2020               728 non-null    object
 3   ANOS_PM_2020                   728 non-null    object
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      728 non-null    object
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       728 non-null    object
 13  IEG_2020                       728 non-null    object
 14  IPS_2020                       728 non-null    object
 15  IDA_2020                       728 non-null    object
 16  IPP_2020                       728 non-null    object
 17  IPV_2020                       728 non-null    object
 18  IAN_2020                       728 non-null    object
 19  FASE_2021                      686 non-null    float64
 20  TURMA_2021                     686 non-null    object
 21  INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 22  SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 23  PEDRA_2021                     686 non-null    object
 24  INDE_2021                      686 non-null    object
 25  IAA_2021                       686 non-null    float64
 26  IEG_2021                       686 non-null    float64
 27  IPS_2021                       686 non-null    float64
 28  IDA_2021                       686 non-null    float64
 29  IPP_2021                       686 non-null    float64
 30  REC_EQUIPE_1_2021              686 non-null    object
 31  REC_EQUIPE_2_2021              686 non-null    object
 32  REC_EQUIPE_3_2021              686 non-null    object
 33  REC_EQUIPE_4_2021              686 non-null    object
 34  PONTO_VIRADA_2021              686 non-null    object
 35  IPV_2021                       686 non-null    float64
 36  IAN_2021                       686 non-null    float64
 37  NIVEL_IDEAL_2021               686 non-null    object
 38  DEFASAGEM_2021                 686 non-null    float64
 39  FASE_2022                      862 non-null    float64
 40  TURMA_2022                     862 non-null    object
 41  ANO_INGRESSO_2022              862 non-null    float64
 42  BOLSISTA_2022                  862 non-null    object
 43  INDE_2022                      862 non-null    float64
 44  CG_2022                        862 non-null    float64
 45  CF_2022                        862 non-null    float64
 46  CT_2022                        862 non-null    float64
 47  PEDRA_2022                     862 non-null    object
 48  DESTAQUE_IEG_2022              862 non-null    object
 49  DESTAQUE_IDA_2022              862 non-null    object
 50  DESTAQUE_IPV_2022              862 non-null    object
 51  IAA_2022                       862 non-null    float64
 52  IEG_2022                       862 non-null    float64
 53  IPS_2022                       862 non-null    float64
 54  IDA_2022                       862 non-null    float64
 55  NOTA_PORT_2022                 860 non-null    float64
 56  NOTA_MAT_2022                  860 non-null    float64
 57  NOTA_ING_2022                  285 non-null    float64
 58  QTD_AVAL_2022                  862 non-null    float64
 59  IPP_2022                       862 non-null    float64
 60  REC_AVA_1_2022                 862 non-null    object
 61  REC_AVA_2_2022                 862 non-null    object
 62  REC_AVA_3_2022                 626 non-null    object
 63  REC_AVA_4_2022                 285 non-null    object
 64  INDICADO_BOLSA_2022            862 non-null    object
 65  PONTO_VIRADA_2022              862 non-null    object
 66  IPV_2022                       862 non-null    float64
 67  IAN_2022                       862 non-null    float64
 68  NIVEL_IDEAL_2022               862 non-null    object
dtypes: float64(26), object(43)
memory usage: 727.3+ KB

In [10]:
df_pede_passos.describe()

,FASE_2021,IAA_2021,IEG_2021,IPS_2021,IDA_2021,IPP_2021,IPV_2021,IAN_2021,DEFASAGEM_2021,FASE_2022,...,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,IPV_2022,IAN_2022
count,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.00000,686.000000,686.000000,862.000000,...,862.000000,862.000000,862.000000,860.000000,860.000000,285.000000,862.000000,862.000000,862.000000,862.000000
mean,2.276968,8.153499,6.822595,6.843586,5.425948,7.576385,7.40758,6.902332,-0.752187,2.110209,...,7.880728,6.901102,6.070688,5.796318,6.306628,5.839942,3.056845,6.299364,7.247953,6.421114
std,1.798368,2.193629,2.458627,1.457148,2.141566,1.072318,1.62708,2.484979,0.792181,1.802222,...,1.649023,1.070202,2.059346,2.422292,2.092551,2.992093,0.775806,1.135510,1.098548,2.387816
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2.500000,-4.000000,0.000000,...,0.000000,2.500000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.500010,2.500000
25%,1.000000,7.900000,5.300000,6.900000,4.100000,7.300000,6.60000,5.000000,-1.000000,1.000000,...,6.999971,6.250000,4.750000,4.316667,5.166667,3.500000,2.000000,5.625000,6.722220,5.000000
50%,2.000000,8.800000,7.200000,7.500000,5.850000,7.700000,7.70000,5.000000,-1.000000,2.000000,...,8.312179,7.500000,6.333333,6.000000,6.650000,6.266667,3.000000,6.250000,7.333335,5.000000
75%,3.000000,9.500000,8.800000,7.500000,6.900000,8.100000,8.60000,10.000000,0.000000,3.000000,...,9.102970,7.500000,7.583333,7.833333,7.833333,8.500000,4.000000,7.031250,7.916665,10.000000
max,7.000000,10.000000,10.000000,8.800000,9.500000,10.000000,10.00000,10.000000,3.000000,7.000000,...,10.000000,10.000000,9.916667,10.000000,10.000000,10.000000,4.000000,9.218750,10.000010,10.000000

In [11]:
df_pede_passos.shape

(1349, 69)

#### Analisando quantidade de colunas

In [12]:
df_pede_passos.columns

Index(['INSTITUICAO_ENSINO_ALUNO_2020', 'NOME', 'IDADE_ALUNO_2020',
       'ANOS_PM_2020', 'FASE_TURMA_2020', 'PONTO_VIRADA_2020', 'INDE_2020',
       'INDE_CONCEITO_2020', 'PEDRA_2020', 'DESTAQUE_IEG_2020',
       'DESTAQUE_IDA_2020', 'DESTAQUE_IPV_2020', 'IAA_2020', 'IEG_2020',
       'IPS_2020', 'IDA_2020', 'IPP_2020', 'IPV_2020', 'IAN_2020', 'FASE_2021',
       'TURMA_2021', 'INSTITUICAO_ENSINO_ALUNO_2021',
       'SINALIZADOR_INGRESSANTE_2021', 'PEDRA_2021', 'INDE_2021', 'IAA_2021',
       'IEG_2021', 'IPS_2021', 'IDA_2021', 'IPP_2021', 'REC_EQUIPE_1_2021',
       'REC_EQUIPE_2_2021', 'REC_EQUIPE_3_2021', 'REC_EQUIPE_4_2021',
       'PONTO_VIRADA_2021', 'IPV_2021', 'IAN_2021', 'NIVEL_IDEAL_2021',
       'DEFASAGEM_2021', 'FASE_2022', 'TURMA_2022', 'ANO_INGRESSO_2022',
       'BOLSISTA_2022', 'INDE_2022', 'CG_2022', 'CF_2022', 'CT_2022',
       'PEDRA_2022', 'DESTAQUE_IEG_2022', 'DESTAQUE_IDA_2022',
       'DESTAQUE_IPV_2022', 'IAA_2022', 'IEG_2022', 'IPS_2022', 'IDA_2022',
       'NOTA_PORT_2022', 'NOTA_MAT_2022', 'NOTA_ING_2022', 'QTD_AVAL_2022',
       'IPP_2022', 'REC_AVA_1_2022', 'REC_AVA_2_2022', 'REC_AVA_3_2022',
       'REC_AVA_4_2022', 'INDICADO_BOLSA_2022', 'PONTO_VIRADA_2022',
       'IPV_2022', 'IAN_2022', 'NIVEL_IDEAL_2022'],
      dtype='object')

Descobri que tem colunas por anos, vou separ por arquivo

In [13]:
#regex para pegar nome de colunas iguais, removendo os 4 ultimos caracteres que é o ano
lista_colunas = df_pede_passos.columns.str.extract(r'(\w+)(?=_\d{4})')

print(f"Colunas totais {len(df_pede_passos.columns)}")
print(f"Colunas unicas {len(lista_colunas[0].unique())}")

Colunas totais 69
Colunas unicas 42

Nem todas as colunas aparecem em todos os anos

In [14]:
#check equals lines on lista_colunas
lista_colunas_com_duas = lista_colunas[0].value_counts()[lista_colunas[0].value_counts() == 2]
display(lista_colunas_com_duas)
lista_colunas_com_tres = lista_colunas[0].value_counts()[lista_colunas[0].value_counts() == 3]
display(lista_colunas_com_tres)

0
NIVEL_IDEAL                 2
TURMA                       2
FASE                        2
INSTITUICAO_ENSINO_ALUNO    2
DESTAQUE_IPV                2
DESTAQUE_IDA                2
DESTAQUE_IEG                2
Name: count, dtype: int64

0
IDA             3
IPS             3
PONTO_VIRADA    3
INDE            3
PEDRA           3
IAN             3
IPV             3
IPP             3
IAA             3
IEG             3
Name: count, dtype: int64

In [15]:
df_pede_passos.filter(regex='PONTO_VIRADA', axis=1)

     PONTO_VIRADA_2020 PONTO_VIRADA_2021 PONTO_VIRADA_2022
0                  Não               Não               NaN
1                  NaN               NaN               Não
2                  Não               Não               NaN
3                  Não               NaN               Não
4                  Não               Não               Não
...                ...               ...               ...
1344               NaN               Não               NaN
1345               NaN               NaN               Sim
1346               Não               NaN               NaN
1347               Sim               Não               Não
1348               NaN               NaN               Não

[1349 rows x 3 columns]

In [16]:
df_pede_passos.filter(regex='DESTAQUE_IEG', axis=1)

,DESTAQUE_IEG_2020,DESTAQUE_IEG_2022
0,Seu destaque em 2020: A sua boa entrega das li...,NaN
1,NaN,Destaque: A sua boa entrega das lições de casa.
2,Seu destaque em 2020: A sua boa entrega das li...,NaN
3,Ponto a melhorar em 2021: Melhorar a sua entre...,Destaque: A sua boa entrega das lições de casa.
4,Seu destaque em 2020: A sua boa entrega das li...,Destaque: A sua boa entrega das lições de casa.
...,...,...
1344,NaN,NaN
1345,NaN,Destaque: A sua boa entrega das lições de casa.
1346,Seu destaque em 2020: A sua boa entrega das li...,NaN
1347,Ponto a melhorar em 2021: Melhorar a sua entre...,Destaque: A sua boa entrega das lições de casa.
1348,NaN,Destaque: A sua boa entrega das lições de casa.

#### Separando dados por ano

In [17]:
#create a new dataframe with columns names that ends with 2021
df_pede_passos_2021 = df_pede_passos.filter(regex='_2021$', axis=1)

df_pede_passos_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   FASE_2021                      686 non-null    float64
 1   TURMA_2021                     686 non-null    object
 2   INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 3   SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 4   PEDRA_2021                     686 non-null    object
 5   INDE_2021                      686 non-null    object
 6   IAA_2021                       686 non-null    float64
 7   IEG_2021                       686 non-null    float64
 8   IPS_2021                       686 non-null    float64
 9   IDA_2021                       686 non-null    float64
 10  IPP_2021                       686 non-null    float64
 11  REC_EQUIPE_1_2021              686 non-null    object
 12  REC_EQUIPE_2_2021              686 non-null    object
 13  REC_EQUIPE_3_2021              686 non-null    object
 14  REC_EQUIPE_4_2021              686 non-null    object
 15  PONTO_VIRADA_2021              686 non-null    object
 16  IPV_2021                       686 non-null    float64
 17  IAN_2021                       686 non-null    float64
 18  NIVEL_IDEAL_2021               686 non-null    object
 19  DEFASAGEM_2021                 686 non-null    float64
dtypes: float64(9), object(11)
memory usage: 210.9+ KB

In [18]:
#create a new dataframe with columns names that ends with 2022
df_pede_passos_2022 = df_pede_passos.filter(regex='_2022$', axis=1)

df_pede_passos_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FASE_2022            862 non-null    float64
 1   TURMA_2022           862 non-null    object
 2   ANO_INGRESSO_2022    862 non-null    float64
 3   BOLSISTA_2022        862 non-null    object
 4   INDE_2022            862 non-null    float64
 5   CG_2022              862 non-null    float64
 6   CF_2022              862 non-null    float64
 7   CT_2022              862 non-null    float64
 8   PEDRA_2022           862 non-null    object
 9   DESTAQUE_IEG_2022    862 non-null    object
 10  DESTAQUE_IDA_2022    862 non-null    object
 11  DESTAQUE_IPV_2022    862 non-null    object
 12  IAA_2022             862 non-null    float64
 13  IEG_2022             862 non-null    float64
 14  IPS_2022             862 non-null    float64
 15  IDA_2022             862 non-null    float64
 16  NOTA_PORT_2022       860 non-null    float64
 17  NOTA_MAT_2022        860 non-null    float64
 18  NOTA_ING_2022        285 non-null    float64
 19  QTD_AVAL_2022        862 non-null    float64
 20  IPP_2022             862 non-null    float64
 21  REC_AVA_1_2022       862 non-null    object
 22  REC_AVA_2_2022       862 non-null    object
 23  REC_AVA_3_2022       626 non-null    object
 24  REC_AVA_4_2022       285 non-null    object
 25  INDICADO_BOLSA_2022  862 non-null    object
 26  PONTO_VIRADA_2022    862 non-null    object
 27  IPV_2022             862 non-null    float64
 28  IAN_2022             862 non-null    float64
 29  NIVEL_IDEAL_2022     862 non-null    object
dtypes: float64(17), object(13)
memory usage: 316.3+ KB

In [19]:
#create a new dataframe with columns names that ends with 2020
df_pede_passos_2020 = df_pede_passos.filter(regex='_2020$', axis=1)

df_pede_passos_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   IDADE_ALUNO_2020               728 non-null    object
 2   ANOS_PM_2020                   728 non-null    object
 3   FASE_TURMA_2020                728 non-null    object
 4   PONTO_VIRADA_2020              702 non-null    object
 5   INDE_2020                      728 non-null    object
 6   INDE_CONCEITO_2020             728 non-null    object
 7   PEDRA_2020                     728 non-null    object
 8   DESTAQUE_IEG_2020              728 non-null    object
 9   DESTAQUE_IDA_2020              728 non-null    object
 10  DESTAQUE_IPV_2020              703 non-null    object
 11  IAA_2020                       728 non-null    object
 12  IEG_2020                       728 non-null    object
 13  IPS_2020                       728 non-null    object
 14  IDA_2020                       728 non-null    object
 15  IPP_2020                       728 non-null    object
 16  IPV_2020                       728 non-null    object
 17  IAN_2020                       728 non-null    object
dtypes: object(18)
memory usage: 189.8+ KB

In [20]:
#create a new dataframe with columns names thats not ends with 2022 or 2021 or 2020
df_pede_passos_outros = df_pede_passos.filter(regex='^(?!.*_(2020|2021|2022)$).*$', axis=1)

df_pede_passos_outros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOME    1349 non-null   object
dtypes: object(1)
memory usage: 10.7+ KB

In [21]:
# save dataframes to csv
df_pede_passos_2020.to_csv('..\dados\dados_processados\pede_passos_2020.csv', sep=';', index=False)
df_pede_passos_2021.to_csv('..\dados\dados_processados\pede_passos_2021.csv', sep=';', index=False)
df_pede_passos_2022.to_csv('..\dados\dados_processados\pede_passos_2022.csv', sep=';', index=False)