## Imports

In [2]:
import pandas as pd

## Leitura dos dados

In [3]:
path_pede_passos_2020 = '../dados/dados_processados/pede_passos_2020.csv'
path_pede_passos_2021 = '../dados/dados_processados/pede_passos_2021.csv'
path_pede_passos_2022 = '../dados/dados_processados/pede_passos_2022.csv'

In [4]:
df_pede_passos_2020 = pd.read_csv(path_pede_passos_2020, sep=';')
df_pede_passos_2021 = pd.read_csv(path_pede_passos_2021, sep=';')
df_pede_passos_2022 = pd.read_csv(path_pede_passos_2022, sep=';')

In [5]:
print(f"Dados de 2020: {df_pede_passos_2020.shape[0]} linhas e {df_pede_passos_2020.shape[1]} colunas")
print(f"Dados de 2021: {df_pede_passos_2021.shape[0]} linhas e {df_pede_passos_2021.shape[1]} colunas")
print(f"Dados de 2022: {df_pede_passos_2022.shape[0]} linhas e {df_pede_passos_2022.shape[1]} colunas")

Dados de 2020: 1349 linhas e 18 colunas
Dados de 2021: 1349 linhas e 20 colunas
Dados de 2022: 1349 linhas e 30 colunas

In [6]:
df_pede_passos_2020.describe()

,INSTITUICAO_ENSINO_ALUNO_2020,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,DESTAQUE_IDA_2020,DESTAQUE_IPV_2020,IAA_2020,IEG_2020,IPS_2020,IDA_2020,IPP_2020,IPV_2020,IAN_2020
count,728,728,728,728,702,728,728,728,728,728,703,728,728,728,728,728,728,728
unique,8,15,6,63,3,728,5,5,5,5,2,45,90,14,74,69,368,4
top,Escola Pública,10,1,8A,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Ponto a melhorar em 2021: Integrar-se mais aos...,9.000020000000001,10,7.5,10,8.125,7.75,10
freq,598,107,305,24,607,1,336,336,476,404,368,123,87,396,73,73,31,359

In [7]:
df_pede_passos_2021.describe()

,FASE_2021,IAA_2021,IEG_2021,IPS_2021,IDA_2021,IPP_2021,IPV_2021,IAN_2021,DEFASAGEM_2021
count,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.00000,686.000000,686.000000
mean,2.276968,8.153499,6.822595,6.843586,5.425948,7.576385,7.40758,6.902332,-0.752187
std,1.798368,2.193629,2.458627,1.457148,2.141566,1.072318,1.62708,2.484979,0.792181
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2.500000,-4.000000
25%,1.000000,7.900000,5.300000,6.900000,4.100000,7.300000,6.60000,5.000000,-1.000000
50%,2.000000,8.800000,7.200000,7.500000,5.850000,7.700000,7.70000,5.000000,-1.000000
75%,3.000000,9.500000,8.800000,7.500000,6.900000,8.100000,8.60000,10.000000,0.000000
max,7.000000,10.000000,10.000000,8.800000,9.500000,10.000000,10.00000,10.000000,3.000000

In [8]:
df_pede_passos_2022.describe()

,FASE_2022,ANO_INGRESSO_2022,INDE_2022,CG_2022,CF_2022,CT_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,IPV_2022,IAN_2022
count,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,860.000000,860.000000,285.000000,862.000000,862.000000,862.000000,862.000000
mean,2.110209,2020.496520,7.028338,431.500000,75.396752,6.617169,8.263065,7.880728,6.901102,6.070688,5.796318,6.306628,5.839942,3.056845,6.299364,7.247953,6.421114
std,1.802222,1.787649,1.029912,248.982262,52.314184,3.989485,2.080264,1.649023,1.070202,2.059346,2.422292,2.092551,2.992093,0.775806,1.135510,1.098548,2.387816
min,0.000000,2016.000000,3.031806,1.000000,1.000000,1.000000,0.000000,0.000000,2.500000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.500010,2.500000
25%,1.000000,2019.000000,6.472561,216.250000,30.000000,3.000000,7.916672,6.999971,6.250000,4.750000,4.316667,5.166667,3.500000,2.000000,5.625000,6.722220,5.000000
50%,2.000000,2021.000000,7.193950,431.500000,66.500000,6.000000,8.750010,8.312179,7.500000,6.333333,6.000000,6.650000,6.266667,3.000000,6.250000,7.333335,5.000000
75%,3.000000,2022.000000,7.749605,646.750000,118.000000,9.750000,9.500020,9.102970,7.500000,7.583333,7.833333,7.833333,8.500000,4.000000,7.031250,7.916665,10.000000
max,7.000000,2022.000000,9.441522,862.000000,192.000000,18.000000,10.000020,10.000000,10.000000,9.916667,10.000000,10.000000,10.000000,4.000000,9.218750,10.000010,10.000000

In [9]:
df_pede_passos_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   IDADE_ALUNO_2020               728 non-null    object
 2   ANOS_PM_2020                   728 non-null    object
 3   FASE_TURMA_2020                728 non-null    object
 4   PONTO_VIRADA_2020              702 non-null    object
 5   INDE_2020                      728 non-null    object
 6   INDE_CONCEITO_2020             728 non-null    object
 7   PEDRA_2020                     728 non-null    object
 8   DESTAQUE_IEG_2020              728 non-null    object
 9   DESTAQUE_IDA_2020              728 non-null    object
 10  DESTAQUE_IPV_2020              703 non-null    object
 11  IAA_2020                       728 non-null    object
 12  IEG_2020                       728 non-null    object
 13  IPS_2020                       728 non-null    object
 14  IDA_2020                       728 non-null    object
 15  IPP_2020                       728 non-null    object
 16  IPV_2020                       728 non-null    object
 17  IAN_2020                       728 non-null    object
dtypes: object(18)
memory usage: 189.8+ KB

In [10]:
df_pede_passos_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   FASE_2021                      686 non-null    float64
 1   TURMA_2021                     686 non-null    object
 2   INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 3   SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 4   PEDRA_2021                     686 non-null    object
 5   INDE_2021                      686 non-null    object
 6   IAA_2021                       686 non-null    float64
 7   IEG_2021                       686 non-null    float64
 8   IPS_2021                       686 non-null    float64
 9   IDA_2021                       686 non-null    float64
 10  IPP_2021                       686 non-null    float64
 11  REC_EQUIPE_1_2021              686 non-null    object
 12  REC_EQUIPE_2_2021              686 non-null    object
 13  REC_EQUIPE_3_2021              686 non-null    object
 14  REC_EQUIPE_4_2021              686 non-null    object
 15  PONTO_VIRADA_2021              686 non-null    object
 16  IPV_2021                       686 non-null    float64
 17  IAN_2021                       686 non-null    float64
 18  NIVEL_IDEAL_2021               686 non-null    object
 19  DEFASAGEM_2021                 686 non-null    float64
dtypes: float64(9), object(11)
memory usage: 210.9+ KB

In [11]:
df_pede_passos_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FASE_2022            862 non-null    float64
 1   TURMA_2022           862 non-null    object
 2   ANO_INGRESSO_2022    862 non-null    float64
 3   BOLSISTA_2022        862 non-null    object
 4   INDE_2022            862 non-null    float64
 5   CG_2022              862 non-null    float64
 6   CF_2022              862 non-null    float64
 7   CT_2022              862 non-null    float64
 8   PEDRA_2022           862 non-null    object
 9   DESTAQUE_IEG_2022    862 non-null    object
 10  DESTAQUE_IDA_2022    862 non-null    object
 11  DESTAQUE_IPV_2022    862 non-null    object
 12  IAA_2022             862 non-null    float64
 13  IEG_2022             862 non-null    float64
 14  IPS_2022             862 non-null    float64
 15  IDA_2022             862 non-null    float64
 16  NOTA_PORT_2022       860 non-null    float64
 17  NOTA_MAT_2022        860 non-null    float64
 18  NOTA_ING_2022        285 non-null    float64
 19  QTD_AVAL_2022        862 non-null    float64
 20  IPP_2022             862 non-null    float64
 21  REC_AVA_1_2022       862 non-null    object
 22  REC_AVA_2_2022       862 non-null    object
 23  REC_AVA_3_2022       626 non-null    object
 24  REC_AVA_4_2022       285 non-null    object
 25  INDICADO_BOLSA_2022  862 non-null    object
 26  PONTO_VIRADA_2022    862 non-null    object
 27  IPV_2022             862 non-null    float64
 28  IAN_2022             862 non-null    float64
 29  NIVEL_IDEAL_2022     862 non-null    object
dtypes: float64(17), object(13)
memory usage: 316.3+ KB